version: '3.8'

services:
  database:
    restart: "always"
    image: mysql:latest
    container_name: database
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_PASSWORD: ${PASSWORD}
      MYSQL_USER: ${USER}
      MYSQL_DATABASE: ${DATABASE}
    volumes:
      - ./database/mysql-init/init.sql:/docker-entrypoint-initdb.d/init.sql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --default-authentication-plugin=mysql_native_password
    networks:
      - backend
    ports:
      - "3306:3306"
  springboot:
    restart: "always"
    container_name: springboot
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9999:9999"
    depends_on:
      - database
    networks:
      - backend
  fastapi:
    restart: "always"
    container_name: fastapi
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - database
    networks:
      - backend
networks:
  backend:
